spring:
  application:
    name: back
  output:
    ansi:
      enabled: ALWAYS
logging:
  level:
    com:
      back: debug
  jackson:
    serialization:
      fail-on-empty-beans: false
server:
  port: 8080